
html {
    font-size: 10px;
    background: url('./background-splash.jpg') bottom center;
    background-size: cover;
  }


  header {
    position: relative;
    height: 20vh;
    margin: 5vh;
    color: black;
    text-align: center;
  }

  header:after {
    content: '';
    width: 460px;
    height: 15px;
    background: url(images/intro-div.svg) no-repeat center;
    display: inline-block;
   
  }

  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 0 0 5rem #028ae9;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    color: #fff;
    text-shadow: 0 0 5rem #028ae9;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 30px;
  }


body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    height: 40vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .25s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }


  .nowplaying {
    font-size: 30vh;
    height: 30vh;
    line-height: 1;
    color: #eee;
    text-shadow: 0 0 5rem #028ae9;
    transition: all 1s ease;
    min-height: 120px;
    text-align: center;
  }
